@tailwind base;
@tailwind components;
@tailwind utilities;

/* index.css */
.mobile-menu {
  display: none;
}

.mobile-menu-open {
  display: block;
}

@media (max-width: 768px) {
  .desktop-menu {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }
}

@media (min-width: 769px) {
  .mobile-menu-button {
    display: none;
  }
}


.slick-slide > div {
    margin: 0 10px;
}


.slick-prev {

display: none;
}

.slick-next{
    @apply bg-[#F2F2F2] 
}
.MuiSlider-track {
    color: #19d229;;
  }
  .MuiSlider-thumb {
    color: #19d229;
    border-color: black;
  }
  .MuiSlider-rail {
    color: grey;
  }

  /* .radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
} */

.slickPrev {
  display: none;
}

.slick-arrow.slick-next:before {
  content: "";
}
.slick-arrow.slick-prev:before {
  content: "";
}

/* radio button color change to green */
/* Add this CSS in your CSS file or a styled component */

input[type="radio"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

input[type="radio"] + span {
  position: relative;
  padding-left: 25px;
  cursor: pointer;
  display: inline-block;
  color: #1a1a1a;
  font-size: 14px;
}

input[type="radio"] + span::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #ccc;
  background-color: #fff;
  transition: border 0.3s;
}

input[type="radio"]:checked + span::before {
  border-color: #00B207; /* Change this to your desired green color */
  background-color: #00B207; /* Change this to your desired green color */
}

input[type="radio"]:checked + span::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 50%;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}
