@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 0 10px;
}


.slick-prev {

display: none;
}

.slick-next{
    @apply bg-[#F2F2F2] 
}
.MuiSlider-track {
    color: #19d229;;
  }
  .MuiSlider-thumb {
    color: #19d229;
    border-color: black;
  }
  .MuiSlider-rail {
    color: grey;
  }

  /* .radio-container input:checked ~ .checkmark:after {
    display: block;
}

.radio-container .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
} */

.slickPrev {
  display: none;
}