@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-slide > div {
    margin: 0 10px;
}


.slick-prev {

display: none;
}

.slick-next{
    @apply bg-[#F2F2F2] 
}
.MuiSlider-track {
    color: #19d229;;
  }
  .MuiSlider-thumb {
    color: #19d229;
    border-color: black;
  }
  .MuiSlider-rail {
    color: grey;
  }